$black: rgb(0, 0, 0);
$popUpBackground: rgba(0, 0, 0, 0.9);
$dark: rgb(32, 32, 32);
$gray: rgb(151, 151, 151);
$light: rgb(218, 218, 218);
$blue: rgb(63, 0, 163);
$green: rgb(88, 168, 101);
$red: rgb(167, 62, 62);

